body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    right: -350px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
}

.sidebar.active {
    right: 0;
}

.content {
    margin-left: 250px;
    padding: 15px;
}

.toggle-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.comment-box{
    padding: 5px;
    margin-top: 100px;
}

.comment-box:hover{
    background-color: #f1f1f1;
}

.comment-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.comment-header img{
    width: 65px;
}

.comment-info{
    display: flex;
    margin: 3px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
}

.comment-info h2{
    margin-bottom: 3px;
}

.comment-body{
    padding-top: 10px;
}